<div class="wrapper">
  <div class="title-section">
    <h1>About</h1>
  </div>

  <div class="section">
    @if (showContent) {
    <ng-content>
      <h3>How to typing in calculated?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit debitis
        soluta aperiam nulla, error, tempora ea quidem culpa cum laboriosam
        laudantium doloremque consectetur. Nulla vitae voluptate molestias ut
        neque! Asperiores?
      </p>

      <h3>Why this website was created?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
        provident perferendis voluptatum atque dolorem pariatur placeat aperiam
        facilis cupiditate repudiandae officiis amet quisquam, blanditiis quo
        eligendi deleniti illo repellat dolor!
      </p>

      <h3>who we can benfit from this platform?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        temporibus eligendi ex accusantium velit labore saepe molestiae hic,
        neque non illo quae culpa omnis? Voluptatibus, voluptate incidunt
        numquam nam saepe laudantium eos aut, dignissimos dolore nulla odio hic
        officia natus fuga neque quidem vero veritatis tempora unde esse commodi
        iusto?
      </p>
    </ng-content>
    }
  </div>
</div>
