<div class="wrapper">
  <div class="title-section">
    <h1>Home</h1>
  </div>
  <div class="section">
    @if (showContent) {
    <ng-content></ng-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius illo
      blanditiis libero repudiandae totam asperiores accusamus consequatur nisi
      molestiae ducimus? Accusamus veniam unde illum obcaecati consequatur
      facere perspiciatis voluptate eveniet.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius illo
      blanditiis libero repudiandae totam asperiores accusamus consequatur nisi
      molestiae ducimus? Accusamus veniam unde illum obcaecati consequatur
      facere perspiciatis voluptate eveniet.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius illo
      blanditiis libero repudiandae totam asperiores accusamus consequatur nisi
      molestiae ducimus? Accusamus veniam unde illum obcaecati consequatur
      facere perspiciatis voluptate eveniet.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique natus
      et minima illo fugit ipsam magnam veniam? Incidunt, eum rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique natus
      et minima illo fugit ipsam magnam veniam? Incidunt, eum rem.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At veniam
      consequuntur soluta possimus animi maxime recusandae, nesciunt itaque.
      Minima repellat doloremque veritatis dolore quam tempore dolorum autem
      corporis saepe exercitationem.
    </p>

    }
  </div>
</div>
